
.sidebar{
    flex:1;
    height:calc(100vh - 50px);
    width:250px;
    background-color: rgb(240, 241, 243);
    position:sticky;
    top:50px;
    background-color: #734f96;
}
.sidebarWrapper{
    padding:20px;
    color:rgba(122, 111, 75, 0.486);
    
}
.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarList{
    list-style:none;
    display: none;

}
.mainsidebarList{
  list-style-type: none;
  
}
.mainsidebarListItem{
  text-decoration: none;
  color: white;
}
.mainsidebarListItem:hover:visited{
  color:red;
}
.mainsidebarListItem:hover{
  color:#734f96;
}
.mainsidebar:hover .sidebarList {
  display: block;
  background-color:#f8eee7;
  color:#734f96 !important;
 
}
.mainsidebar{
  padding: 5px;

  margin-top: 20px;
  cursor:pointer;
  color:brown;
  border-radius: 10px;
 

 
}

.mainsidebar:hover{
  background-color:#f8eee7;
  transform:translateX(20px);
  color:brown;
  
}
.sidebarListItem{
    padding:5px;
    cursor:pointer;
    display:flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem.active,.sidebarListItem:hover{
    background-color: rgba(175, 214, 214, 0.829);
}
 .sidebarIcon{
     margin-right: 5px;
    font-size: 20px !important;
}
